<?xml version="1.0"?>
<phpunit bootstrap="bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="true">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../</directory>
            <exclude>
                <file>../autoload.php</file>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>
</phpunit>